# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# Gradle
.gradle/
build/

# Kotlin
.kotlin/
out/

# Local database
*.mv.db
*.trace.db

# Local configuration
config/application-local.yaml

# Environment files
.env
.env.*
!.env.example

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

*.zip

# 내부 API 비밀키가 들어갈 수 있는 환경별 설정
/config/application-settings-local.yaml
